.vscode/sftp.json
.wwebjs_*

npm-debug.log
package-lock.json
whatsapp-sessions.json

node_modules
/node_modules
/node_modules/*

assets/uploads
assets/uploads/*

Dockerfile
docker-compose.yml
./docker-compose.yml
docker/